body {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial;
}

.contact-header {
    display: block;
    padding: 15px 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}

#wrapper {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#masthead {
    float: left;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
}

#top {
    width: 100%;
    float: left;
    margin-right: 2%;
    display: inline;
    max-height: 120px;
    position: relative;
    margin-bottom: 0px;
}

.logo-image {
    float: left;
    height: 120px;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.logo-image img {
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.logo-name h1 {
    line-height: 120px;
    font-weight: 600;
}

#content {
    clear: both;
    position: relative;
}

.tools:before {
    border-top: 1px solid #eff0f1;
    content: "";
    display: block;
    margin: 0 -5px;
    padding-top: 2.35714em;
    position: relative;
}

.tab-pane h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card {
    overflow: hidden;
}

.card-footer {
    height: 70px;
    padding: .5rem;
}

.card-block {
    padding: 15px;
}

.row h4 {
    padding-left: 15px;
    margin-bottom: 20px;
    font-weight: 300;
}
